body{
font-family:-apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
color:#4d4d4d;
	text-align:center; 
	line-height:1.5;
}
a:link{color:#212194}
a:visited{color:#212194}
a:hover{color:#212194}
a:active{color:#212194} 
 
.container
{
margin-left: auto;
margin-right: auto; 
}

content

.container{
max-width:1000px;
width: 99%;
text-align: center;
}

.content{
width: 92.5%;
text-align: left;
display:inline-block;
/*border:1px solid black;*/
}

.abstract
{
font-size: small;
}
hr{height:0;
			margin:15px 0;
		overflow:hidden;
		background:transparent;
		border:0;
		border-bottom:1px solid #dfe2e5}


header

.parent
{
/*max-width:1000px;
width: 80%;*/
font-size:0;
text-align: center;
/*border:1px solid black;*/
padding-bottom:2%;
}
 
.child1
{
font-size:16px;
display:inline-block;
width:25%;
max-width:500px;
/*border:1px solid black;*/
vertical-align: top;
text-align: left; 
padding-right:3%;
padding-left:3%;
}

.child2
{
font-size:16px;
display:inline-block;
width:35%;
max-width:500px;
/*border:1px solid black;*/
vertical-align: top;
text-align: left; 
padding-right:3%;
padding-left:3%;
}

.avatar-container
{
        text-align: right;
        display: block;
        padding-top: 10%;
}
 
@media screen and (max-width: 600px) {
.avatar-container
{
        text-align: center;
        display: block;
        padding-top: 0%;
}

.container{ 
width: 100%;
text-align: center; 
}

.parent
{ 
padding-bottom:5%;
}
.child1
  {
width:98%;
text-align: center; 
padding-right:0;
padding-top:0%;
padding-left:0;
  }
.child2
  {
width:98%;
text-align: center;
padding-right:0;
padding-top:0%;
padding-left:0;
  }
}
